In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\fastapi\car_price_prediction\CarPrice_Assignment.csv")
X = df.drop('price', axis=1)
y = df.price

In [3]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
dtypes: float64(7), int64(8), object(10)
memory usage: 40.2+ KB

In [4]:
brand = []
for name in X.CarName:
    s = name.split(" ")
    brand.append(s[0])

In [5]:
features = ["brand", "fueltype", "citympg", "highwaympg", "horsepower", "peakrpm", "carbody"]

In [6]:
X['brand'] = pd.DataFrame(brand)

In [7]:
X = pd.DataFrame(X, columns=features)

In [8]:
X.nunique()

brand         28
fueltype       2
citympg       29
highwaympg    30
horsepower    59
peakrpm       23
carbody        5
dtype: int64

In [9]:
string_df = X.select_dtypes(include=['object'])
print(list(string_df.columns))

['brand', 'fueltype', 'carbody']

In [10]:
# scaler = StandardScaler()
# numeric_cols = X.select_dtypes(include=['number']).columns
# X[numeric_cols] = scaler.fit_transform(X[numeric_cols])

In [11]:
encoder = LabelEncoder()
for col in string_df:
    X[col] = encoder.fit_transform(X[col])

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   brand       205 non-null    int64
 1   fueltype    205 non-null    int64
 2   citympg     205 non-null    int64
 3   highwaympg  205 non-null    int64
 4   horsepower  205 non-null    int64
 5   peakrpm     205 non-null    int64
 6   carbody     205 non-null    int64
dtypes: int64(7)
memory usage: 11.3 KB

In [13]:
X.head()

   brand  fueltype  citympg  highwaympg  horsepower  peakrpm  carbody
0      1         1       21          27         111     5000        0
1      1         1       21          27         111     5000        0
2      1         1       19          26         154     5000        2
3      2         1       24          30         102     5500        3
4      2         1       18          22         115     5500        3

In [14]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2)

In [15]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
rf = RandomForestRegressor()
mlp = MLPRegressor()
algo = [lr, dt, rf, mlp]
for a in algo:
    a.fit(xtrain, ytrain)
    ypred = a.predict(xtest)
    error = mean_squared_error(ypred, ytest)
    print(f"{a} model has MSE = {error ** .5}")

LinearRegression() model has MSE = 3751.8183476096833
DecisionTreeRegressor() model has MSE = 3211.2336561162037
RandomForestRegressor() model has MSE = 2492.65082562765
MLPRegressor() model has MSE = 5883.565027843129

d:\MLops\venv\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [16]:
# cor_matrix = X.corr()
# print(cor_matrix)

In [17]:
model= RandomForestRegressor()
model.fit(xtrain, ytrain)
ypred = model.predict(xtest)
mse = mean_squared_error(ypred, ytest)
print(f"{model} model has MSE = {mse ** .5}")

RandomForestRegressor() model has MSE = 2407.5895686756985

In [18]:
def predict(values):
    ypred = model.predict(values)
    return f"The predicted price of the car is {ypred}"

In [19]:
xtest

     brand  fueltype  citympg  highwaympg  horsepower  peakrpm  carbody
189     27         1       24          29          90     5500        0
168     22         1       24          30         116     4800        1
12       3         1       21          28         121     4250        3
77      13         1       31          38          68     5500        2
167     22         1       24          30         116     4800        1
82      13         1       19          24         145     5000        2
191     25         1       19          24         110     5500        3
68       4         0       22          25         123     4350        4
66      11         0       31          39          72     4200        3
180     22         1       20          24         156     5200        3
103     14         1       19          25         152     5200        3
3        2         1       24          30         102     5500        3
200     26         1       23          28         114     5400        3
37       7         1       27          33          86     5800        2
145     21         1       24          29         111     4800        3
114     15         0       25          25          95     4150        4
132     20         1       21          28         110     5250        2
127     18         1       17          25         207     5900        1
201     26         1       19          25         160     5300        3
59      11         1       26          32          84     4800        2
174     22         0       30          33          73     4500        3
119     16         1       24          30         102     5500        2
2        1         1       19          26         154     5000        2
32       7         1       38          42          60     5500        2
107     15         1       19          24          97     5000        3
56      11         1       17          23         101     6000        2
113     15         1       19          24          95     5000        4
143     21         1       26          32          94     5200        3
171     22         1       24          30         116     4800        2
39       7         1       27          33          86     5800        3
96      14         1       31          37          69     5200        3
156     22         1       30          37          70     4800        3
83      13         1       19          24         145     5000        2
133     20         1       21          28         110     5250        3
179     22         1       19          24         161     5200        2
146     21         1       28          32          82     4800        4
199     26         1       17          22         162     5100        4
99      14         1       27          34          97     5200        2
190     27         1       24          29          90     5500        2
109     15         1       19          24          97     5000        4
108     15         0       28          33          95     4150        3